.paginator {
   display: flex;
   justify-content: center;
   align-items: center;
   background: var(--bg-main);
   padding-bottom: 5px;
}

.button {
   border: none;
   box-shadow: 0 0 3px var(--border-pagination);
   cursor: pointer;
   color: var(--text-color);
   background: var(--bg-item);
}
.page,
.current_page {
   display: flex;
   justify-content: center;
   align-items: center;
   border: none;
   width: 30px;
   height: 30px;
   box-shadow: 0 0 3px var(--border);
   border-radius: 50%;
   color: var(--bg-footer);
   margin: 0 10px;
   cursor: pointer;
   background: var(--border);
}
.page:hover {
   background: var(--hover-bg);
}
.current_page {
   box-shadow: 0 0 3px var(--hover-bg);
   background: var(--hover-bg);
   font-weight: 500;
}