/* Світла тема */
:root {
  --bg-header: #e8f5e9; /* Світло-зелений */
  --text-color: #2d4e2e; /* Темно-зелений для контрасту */
  --hover-text: #ffffff; /* Білий текст при наведенні */
  --hover-bg: #2d4e2e; /* Темно-зелений фон при наведенні */
  --bg-main: #ffffff; /* Білий фон для полів вводу */
  --border: #c8e6c9; /* Світло-зелений для рамок */
  --bg-footer: #e8f5e9; /* Такий же, як фон заголовка */
  --bg-item: #ffffff; /* Білий фон для картки фільму */
  --text-item-secondary: #757575; /* Сірий для другорядного тексту */
  background-color: #f1f8e9; /* Дуже світлий зелений для основного фону */
  color: #2d4e2e; /* Основний текстовий колір */
}

/* Темна тема */
body.dark-mode {
  --bg-header: #2d434e; /* Темно-синій-зелений */
  --text-color: #d3e2e3; /* Світло-блакитний для контрасту */
  --hover-text: #ffffff; /* Білий текст при наведенні */
  --hover-bg: #649494; /* Світло-синьо-зелений фон при наведенні */
  --bg-main: #2a3a44; /* Трохи темніший відтінок для поля вводу */
  --border: #3b5059; /* Темний сіро-синій для рамок */
  --bg-footer: #2d434e; /* Такий самий, як фон заголовка */
  --bg-item: #2a3a44; /* Темно-синій-зелений фон для картки фільму */
  --text-item-secondary: #a0b2b5; /* Сірий-блакитний для друг*/
  background-color: #1f2d35; /* Темний фон для основного контенту */
  color: #d3e2e3; /* Основний текстовий колір */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}
a {
  color: inherit;
  text-decoration: none;
}

